.CoverContainer{
  z-index: 10;
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.CoverContainer, #OpacityCover{
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
}

.CoverContainer h2{
  font-size: 4rem;
  text-align: center;
  color: #EA1E26;
  margin-top: 20rem;
}

.transparentBg{
  position: absolute;
  top:0;
  right:0;
  z-index: 99;
  margin-left: calc(100vw - 200px);
  background: transparent;
  width: 200px;
  height: 100vh;
}

.hover{
  transform: translateX(-200px);
  transition: 1s ease-in-out ;
}

.leave{
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.material-symbols-outlined{
  position: absolute;
  right: 1rem;
  top: 22rem;
  border: none;
  background-color: transparent;
  margin-right: 2rem;
}

